/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffd0d0;
}

p {
color:#023047;
font-size: medium;
margin-left: 50%;
}

img {
  display: block;
width: 10rem;
margin-left: auto;
margin-right: auto;
justify-content: flex-end;
border-radius: 50%;
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
 
}
}






h2 {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #023047;
}
